[submodule "shop-app"]
	path = shop-app
	url = https://github.com/robence/react-native-shop-app
[submodule "meals-app"]
	path = meals-app
	url = https://github.com/robence/react-native-meals-app
[submodule "guess-a-number"]
	path = guess-a-number
	url = https://github.com/robence/react-native-guess-a-number
[submodule "geocode-example"]
	path = geocode-example
	url = git@github.com:robence/react-native-geocode-example.git
[submodule "travel-ui"]
	path = travel-ui
	url = git@github.com:robence/react-native-travel-ui.git
